theme "gruvbox-material"
default_layout "compact"

pane_frames false
simplified_ui true
show_startup_tips false
show_release_notes false

stacked_resize false

keybinds clear-defaults=true {
    normal {
        bind "Ctrl g" { SwitchToMode "locked"; }
    }
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "normal"; }
    }

    shared_except "locked" {
        // focus
        bind "Alt Left"  { MoveFocusOrTab "Left"; }
        bind "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt Up"    { MoveFocus "Up"; }
        bind "Alt Down"  { MoveFocus "Down"; }
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        // panes
        bind "Alt Enter" { NewPane; }
        bind "Alt w" { CloseFocus; }
        bind "Alt m" { ToggleFocusFullscreen; }
        bind "Alt e" { ToggleFloatingPanes; }

        // resize
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }

        // tabs
        bind "Alt t" { NewTab; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }
        bind "Alt {" { MoveTab "Left"; }
        bind "Alt }" { MoveTab "Right"; }
        bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }

        // misc
        bind "Alt q" { Detach; }
    }
}
